{{#if addNewQuestion}}
  <h3>Enter your question</h3>
  <form class="add-new-question">
    <div class="form-group">
      <lable for="author">Your Name</lable>
        {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <lable for="content">Your Question</lable>
        {{input value=content id="content"}}
    </div>
    <div class="form-group">
      <lable for="additionalNotes">Additional Notes</lable>
        {{input value=additionalNotes id="additionalNotes"}}
    </div>
    <div class="form-group">
      <lable for="tags">Tag</lable>
        {{input value=tag id="tag"}}
    </div>
    <button {{action 'saveQuestion'}}>Save</button>
  </form>
{{else}}
  <button {{action 'questionFormShow'}}>Add Question</button>
{{/if}}
