
  <li class="question-list-item">
    {{rate-question question=question upVote="upVote"}}
    {{#link-to 'question' question.id}}
      <span class="title">{{question.content}}
        <span class="has-answers">{{question-votes question}}</span>
      </span>
      <span class="byline"><em>{{question.author}}</em> {{question.date}}</span>
    {{/link-to}}
    <span class="add-btn-container"><button {{action 'addToFavorites' question}} class="favorites-btn">Add to Favs</button></span>
  </li>
