{{#link-to 'favorites'}}{{favorites-icon}}{{/link-to}}
<input type="checkbox" id="menu">
<label class="menu-icon" for="menu" onclick></label>

<nav role="off-canvas">
    <ul>
        <li>{{#link-to 'index'}}Ember<br>{{fa-icon "code"}}{{/link-to}}</li>
        <li>{{#link-to 'index'}}Question<br>{{fa-icon "question-circle"}}<{{/link-to}}</li>
        <li>{{#link-to 'index'}}Answer<br>{{fa-icon "commenting"}}{{/link-to}}</li>
        <li>{{#link-to 'index'}}Message<br>{{fa-icon "envelope"}}{{/link-to}}</li>
        <li>{{#link-to 'index'}}Board<br>{{fa-icon "comments-o"}}{{/link-to}}</li>
    </ul>
</nav>

<div class="main-container">
    {{outlet}}
</div>
<footer>
  <p>
    site design by Sky Rousse
  </p>
</footer>
